.loader-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.loader {
    border: 5px solid #e2e8f0;
    border-top: 5px solid #2563eb;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}